#login {
  width: 100%;
  height: 100%;
  background: #fff;
  padding: 1.5rem;
  padding-top: 4rem;
}
#login img {
  margin: auto;
  display: block;
  margin-bottom: 2rem;
}
#login .am-list {
  margin-bottom: 1rem;
}
#login .am-list-body::before {
  background: #fff;
}
#login .am-list-item .am-input-label.am-input-label-5 {
  width: 2.5rem;
  padding: 0.5rem;
}
#login .am-list-item.am-input-item {
  height: 3.5rem;
}
#login .am-button-primary {
  margin-bottom: 2rem;
}
