* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body,
#root,
#app {
  width: 100%;
  height: 100%;
}
#root a:link,
#root a:hover,
#root a:active,
#root a:focus,
#root a:visited {
  color: #008cff;
}
